Amostra Simples:Define quantos elementos participaram da amostra e os selecionam aleatoriamente.
Amostra Estratificada: A população se divide em categorias (estratos). Ao selecionar os elementos da amostra, o estrato é considerado. Fazer amostras para cada tipo de estrato.
Amostra Sistemática: É escolhido um elemento aleatório, e a partir daí, a cada N elementos, um novo membro é escolhido.

Amostra Simples

In [28]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np

In [11]:
myiris = pd.read_csv('../../dataset/iris.csv') # lendo e gerando uma copia para uso

In [12]:
myiris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
myiris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
df_sample = myiris.sample(frac=0.50) # selecionando uma amostragem de 50% dos dados

In [16]:
df_sample.head()

     sepal_length  sepal_width  petal_length  petal_width    species
128           6.4          2.8           5.6          2.1  virginica
13            4.3          3.0           1.1          0.1     setosa
20            5.4          3.4           1.7          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
48            5.3          3.7           1.5          0.2     setosa

In [17]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 128 to 111
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  75 non-null     float64
 1   sepal_width   75 non-null     float64
 2   petal_length  75 non-null     float64
 3   petal_width   75 non-null     float64
 4   species       75 non-null     object
dtypes: float64(4), object(1)
memory usage: 3.5+ KB

Amostra Estratificada

In [22]:
myiris['species'].value_counts() # verificando as ocorrencias de cada especie

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

Dividindo os dados em treino e teste, no de teste retrando o resultado prever posteriorimente

In [23]:
x_train, x_test, y_train, y_test = train_test_split(myiris.drop('species',axis=1),
myiris['species'], stratify=myiris['species'], test_size=0.50)

In [24]:
y_test.value_counts()

virginica     25
versicolor    25
setosa        25
Name: species, dtype: int64

In [27]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
18            5.7          3.8           1.7          0.3
38            4.4          3.0           1.3          0.2
27            5.2          3.5           1.5          0.2
82            5.8          2.7           3.9          1.2
143           6.8          3.2           5.9          2.3
..            ...          ...           ...          ...
97            6.2          2.9           4.3          1.3
54            6.5          2.8           4.6          1.5
138           6.0          3.0           4.8          1.8
59            5.2          2.7           3.9          1.4
101           5.8          2.7           5.1          1.9

[75 rows x 4 columns]

Amostra Sistemática

In [30]:
pulo = np.random.choice(5,1)

In [31]:
pulo

array([4])

In [37]:
index = np.arange(0,150,pulo) #150 pq é a qtd de dados do datase

In [38]:
index # obs os pulos

array([  0,   4,   8,  12,  16,  20,  24,  28,  32,  36,  40,  44,  48,
        52,  56,  60,  64,  68,  72,  76,  80,  84,  88,  92,  96, 100,
       104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148])

In [42]:
df_estra = myiris.loc[index,:] # pegando os dados pelo indices

In [43]:
df_estra  # amostra

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
16            5.4          3.9           1.3          0.4      setosa
20            5.4          3.4           1.7          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
32            5.2          4.1           1.5          0.1      setosa
36            5.5          3.5           1.3          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
44            5.1          3.8           1.9          0.4      setosa
48            5.3          3.7           1.5          0.2      setosa
52            6.9          3.1           4.9          1.5  versicolor
56            6.3          3.3           4.7          1.6  versicolor
60            5.0          2.0           3.5          1.0  versicolor
64            5.6          2.9           3.6          1.3  versicolor
68            6.2          2.2           4.5          1.5  versicolor
72            6.3          2.5           4.9          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
80            5.5          2.4           3.8          1.1  versicolor
84            5.4          3.0           4.5          1.5  versicolor
88            5.6          3.0           4.1          1.3  versicolor
92            5.8          2.6           4.0          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
104           6.5          3.0           5.8          2.2   virginica
108           6.7          2.5           5.8          1.8   virginica
112           6.8          3.0           5.5          2.1   virginica
116           6.5          3.0           5.5          1.8   virginica
120           6.9          3.2           5.7          2.3   virginica
124           6.7          3.3           5.7          2.1   virginica
128           6.4          2.8           5.6          2.1   virginica
132           6.4          2.8           5.6          2.2   virginica
136           6.3          3.4           5.6          2.4   virginica
140           6.7          3.1           5.6          2.4   virginica
144           6.7          3.3           5.7          2.5   virginica
148           6.2          3.4           5.4          2.3   virginica